

.square-container{
    display: flex;
    background-color: #ffff;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
}
.rows {
    display: flex;
    justify-content: center;
}

.square-revealed {
    color: #2e3543;
    background-color: #ffff;
}
.square-not-revealed {
    color: #ffff;
    background-color: #2e3543;
}
.mine {
    color: #2e3543;
    background-color: #ff719a;
    font-size: 25px;
    padding-left: 2px;
}
.not-zero {
    color: #000000;
}

.flags {
    color: #ffffff;
    font-size: 25px;
    padding-left: 2px;
}